
/**
 * Fix user-agent
 */

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

body {
  background: url('/images/background.jpeg') center center no-repeat;
  background-size: 100%;
}

/**
 * Canvas
 */

.whiteboard {
  background-image: url('images/colouring_image.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120%;
  height: 87%;
  width: 80%;
  position: absolute;
  left: 93px;
  right: 0;
  bottom: 0;
  top: 50px;
}

.colors {

}

.color {
  display: inline-block;
  height: 62px;
  width: 62px;
  position: absolute;
  right: 0;
}

.color.black {top:47%;}
.color.red {top:77%;}
.color.green {top:62%;}
.color.blue {top:92%;}
