
/**
 * Fix user-agent
 */

* {
  box-sizing: border-box;
}

html, body {
  height: 529px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 962px;
}

body {
  background: url('/images/background.jpeg') center center no-repeat;
  background-size: 100% 100%;
}

/**
 * Canvas
 */

.whiteboard {
  background-image: url('images/colouring_image.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120%;
  height: 400px;
  width: 769px;
  position: absolute;
  left: 10.5%;
  right: 0;
  bottom: 0;
  top: 14%;
}

.colors {

}

.color {
  display: inline-block;
  height: 50px;
  width: 62px;
  position: absolute;
  right: 0;
}

.color.black {top:48%;}
.color.red {top:69%;}
.color.green {top:59%;}
.color.blue {top:82%;}
